name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # or your default branch
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: |
          cd my-web
          npm ci

      - name: Build website
        run: |
          cd my-web
          npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./my-web/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch.
          # You can swap them out for your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com